{% extends "template.html" %}
{% block title %}
Register
{% endblock %}
{% block content %}
<div class="container-fluid p-2 bg-white">
  <h2><center>New User Registration</center></h2><br>
  {% if userID_exists == "True" %}
    <h4>User ID already exists. <a href="/login/">Click here to login</a></h4>
  {% endif %}
</div>
<div class="container p-2 mt-5">
  <div class="row">
    <div class="col-sm-4 rounded p-4 mt-5 bg-primary text-white">
      <form action="/signup/" method="POST">
        {% csrf_token %}
        <div class="mb-3 mt-3">
          <label for="userID" class="form-label">User ID:</label>
          <input type="number" class="form-control" name="userID" required id="id_userID" placeholder="Enter User ID">
        </div>
        <div class="mb-3">
          <label for="pwd" class="form-label">Enter Registration Token Recieved from the Bank:</label>
          <input type="text" class="form-control" name="token" maxlength="255" required id="id_token" placeholder="Enter Token here">
        </div>
        <button id="Register" type="submit" class="btn btn-warning">Submit</button><br>
        {% if invalid_token == "True" %}
          <h7 class="message" id="invalidCredentials" style="color:#EC7063">Invalid User ID or Token. Please contact bank for any queries.</h7>
        {% endif %}
      </form>
    </div>
  </div>
</div>
<style>
  #Register:hover {background-color : #B7B858}
  #Register:active {background-color : #878843}
  </style>
  {% endblock %}
